In [49]:
import pandas as pd
df = pd.read_csv("heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [2]:
pd.isna(df).sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [3]:
df.nunique()

Age                50
Sex                 2
ChestPainType       4
RestingBP          67
Cholesterol       222
FastingBS           2
RestingECG          3
MaxHR             119
ExerciseAngina      2
Oldpeak            53
ST_Slope            3
HeartDisease        2
dtype: int64

In [5]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [16]:
#treating outliers
def get_outliers(df):
    col = df.columns()
    for i in range(len(col)):
        if df[col[i]]<= df[col[i]].mean()+3*df[col[i]].std():
            df1[col[i]] = df[col[i]]
    return df1

In [31]:
#df_ints = df[['Age','RestingBP','Cholesterol','FastingBS','MaxHR','Oldpeak','HeartDisease']]
cols = df.select_dtypes('number').columns 
df_ints = df.loc[:, cols]
df_ints

     Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  HeartDisease
0     40        140          289          0    172      0.0             0
1     49        160          180          0    156      1.0             1
2     37        130          283          0     98      0.0             0
3     48        138          214          0    108      1.5             1
4     54        150          195          0    122      0.0             0
..   ...        ...          ...        ...    ...      ...           ...
913   45        110          264          0    132      1.2             1
914   68        144          193          1    141      3.4             1
915   57        130          131          0    115      1.2             1
916   57        130          236          0    174      0.0             1
917   38        138          175          0    173      0.0             0

[918 rows x 7 columns]

In [51]:
import numpy as np
iqr = df_ints.quantile(0.75, numeric_only=False) - df_ints.quantile(0.25, numeric_only=False)
lim = np.abs((df_ints - df_ints.median()) / iqr) < 2.22
df.loc[:, cols ] = df_ints.where(lim, np.nan)
pd.isna(df).sum()

Age                 0
Sex                 0
ChestPainType       0
RestingBP          25
Cholesterol       191
FastingBS         918
RestingECG          0
MaxHR               0
ExerciseAngina      0
Oldpeak            14
ST_Slope            0
HeartDisease        0
dtype: int64

In [60]:
df.fillna(method = 'ffill', inplace = True)
df

C:\Users\jlhb83\AppData\Local\Temp\ipykernel_5728\4081874434.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'ffill', inplace = True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140.0,289.0,NaN,Normal,172,N,0.0,Up,0
1,49,F,NAP,160.0,180.0,NaN,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130.0,283.0,NaN,ST,98,N,0.0,Up,0
3,48,F,ASY,138.0,214.0,NaN,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150.0,195.0,NaN,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110.0,264.0,NaN,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144.0,193.0,NaN,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130.0,131.0,NaN,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130.0,236.0,NaN,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138.0,175.0,NaN,Normal,173,N,0.0,Up,0

In [62]:
df1 = df.drop(['FastingBS'], axis =1 )

,Age,Sex,ChestPainType,RestingBP,Cholesterol,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140.0,289.0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160.0,180.0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130.0,283.0,ST,98,N,0.0,Up,0
3,48,F,ASY,138.0,214.0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150.0,195.0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110.0,264.0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144.0,193.0,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130.0,131.0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130.0,236.0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138.0,175.0,Normal,173,N,0.0,Up,0

In [ ]:
#label encoder
from sklearn.preprocessing import LabelEncoder
le_sex= LabelEncoder() #class object
le_chest = LabelEncoder() #if need to encode multiple columns
le_rest = LabelEncoder() #if need to encode multiple columns
le_1 = LabelEncoder() #if need to encode multiple columns
dfle = df
dfle.town = le.fit_transform(dfle.town)
dfle

In [66]:
df2= pd.get_dummies(df1, drop_first = True)
df2 = df2.astype(int)

,Age,RestingBP,Cholesterol,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,172,0,0,1,1,0,0,1,0,0,0,1
1,49,160,180,156,1,1,0,0,1,0,1,0,0,1,0
2,37,130,283,98,0,0,1,1,0,0,0,1,0,0,1
3,48,138,214,108,1,1,0,0,0,0,1,0,1,1,0
4,54,150,195,122,0,0,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,132,1,1,1,0,0,1,1,0,0,1,0
914,68,144,193,141,3,1,1,0,0,0,1,0,0,1,0
915,57,130,131,115,1,1,1,0,0,0,1,0,1,1,0
916,57,130,236,174,0,1,0,1,0,0,0,0,0,1,0
917,38,138,175,173,0,0,1,0,1,0,1,0,0,0,1

In [68]:
X = df2.drop("HeartDisease",axis='columns')
y = df2.HeartDisease

X.head()

,Age,RestingBP,Cholesterol,MaxHR,Oldpeak,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,172,0,1,1,0,0,1,0,0,0,1
1,49,160,180,156,1,0,0,1,0,1,0,0,1,0
2,37,130,283,98,0,1,1,0,0,0,1,0,0,1
3,48,138,214,108,1,0,0,0,0,1,0,1,1,0
4,54,150,195,122,0,1,0,1,0,1,0,0,0,1

In [70]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.4331398 ,  0.54606901,  1.1718984 , ..., -0.8235563 ,
        -1.00218103,  1.15067399],
       [-0.47848359,  1.7916681 , -1.05475974, ..., -0.8235563 ,
         0.99782372, -0.86905588],
       [-1.75135854, -0.07673053,  1.04933006, ..., -0.8235563 ,
        -1.00218103,  1.15067399],
       ...,
       [ 0.37009972, -0.07673053, -2.05573451, ...,  1.21424608,
         0.99782372, -0.86905588],
       [ 0.37009972, -0.07673053,  0.08921141, ..., -0.8235563 ,
         0.99782372, -0.86905588],
       [-1.64528563,  0.4215091 , -1.15690003, ..., -0.8235563 ,
        -1.00218103,  1.15067399]])

In [71]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [75]:
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X)
pca.explained_variance_ratio_

array([0.70889497, 0.19539827, 0.07484654])

In [76]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=30)

In [77]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train_pca, y_train)
model_rf.score(X_test_pca, y_test)

0.6630434782608695